<!DOCTYPE html>
<html>
<head>
  <title>L2T</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- <%= stylesheet_link_tag '/assets/stylesheets/normalize.css' %> -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
