<body id="signup" class="vertalign">

<h3>Sign up</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :blurb %>
    <%= f.text_field :blurb, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :image_url %>
    <%= f.text_field :image_url, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :twitter_username %>
    <%= f.text_field :twitter_username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :youtube_username %>
    <%= f.text_field :youtube_username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :soundcloud_username %>
    <%= f.text_field :soundcloud_username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</body>
