<body id="personal">

  <div id="header">
    <h1> L2T </h1>
    <nav>
      <%= link_to 'SIGN OUT', '/users/sign_out', :method => :delete %>
    </nav>
  </div>

  <div id="info">

    <div id="pic">
      <img id="profile-img" class="vertalign" src="<%=@personal_info[:image_url]%>" />
    </div>

    <div id="about">
      <div id="personal-button" class="vertalign">
          <input type="submit" name="inbox" value="inbox"/>
        </div>
      <div id="personal-box">
        <h3><%=@personal_info[:name]%></h3>
        <p><%=@personal_info[:blurb]%></p>
      </div>
    </div>

    <div id="map">
      <img src="http://static2.stuff.co.nz/1397882814/958/9959958.jpg">
    </div>

  </div>

  <div id="feed">

    <div id="news">
      <div class="personal-media">
          <h2>TWEETS</h2>
          <% @personal_info[:tweets].each do |tweet|%>
            <li id="li-padding"><%=tweet.content%></li>
          <% end %>
      </div>
      <div class="personal-media">
          <h2>VIDEOS</h2>
          <% @personal_info[:videos].each do |video|%>
            <li id="li-padding"><a href='<%=video.url%>'><%=video.title%></a></li>
          <% end %>
      </div>
      <div class="personal-media">
          <h2>TRACKS</h2>
          <% @personal_info[:tracks].each do |track|%>
            <li id="li-padding"><a href='<%=track.track_url%>'><%=track.title%></a></li>
          <% end %>
      </div>
    </div>

    <div id="matches">
      <ul>
        <h2>MATCHES</h2>
        <% @match_data.each do |match| %>
          <li class="match">
            <div id="match-img">
              <a href="/profile/<%=match["id"]%>">
                <img src="<%=match["image_url"]%>" class='vertalign' />
              </a>
            </div>
            <div id="match-info">
              <h3><%=match["name"]%></h3>
              <p><%=match["blurb"]%></p>
            </div>
            <div id="match-percent">
              <p><%=match["overall_percent"]%></p>
              <p><%=match["twitter_percent"]%></p>
              <p><%=match["youtube_percent"]%></p>
              <p><%=match["soundcloud_percent"]%></p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

  </div>

  <div id="footer"></div>

</body>


