<body id="profile">

  <div id="header">
    <h1><%= link_to 'L2T', '/' %></h1>
    <nav>
        <%= link_to 'SIGN OUT', '/users/sign_out', :method => :delete %>
    </nav>
  </div>

  <div id="info">

    <div id="pic">
      <img id="profile-img" class="vertalign" src="<%=@personal_info[:image_url]%>" />
    </div>

    <div id="about">
      <div id="personal-box">
        <h3><%=@personal_info[:name]%></h3>
        <p><%=@personal_info[:blurb]%></p>
        <%= link_to 'START CONVERSATION', conversations_create_path(@ids, user_1_id: current_user.id, user_2_id: @personal_info[:user_id]), :method => :post %>
      </div>
    </div>

    <div id="map">
<!--       <img src="http://static2.stuff.co.nz/1397882814/958/9959958.jpg"> -->
    </div>

  </div>

  <div id="profile-feed">
    <% unless @personal_info[:tweets].empty? %>
      <div class="personal-media">
          <h2>TWEETS</h2>
          <% @personal_info[:tweets].each do |tweet|%>
            <li id="li-padding"><%=tweet.content%></li>
          <% end %>
      </div>
    <% end %>

    <% unless @personal_info[:videos].empty? %>
      <div class="personal-media">
          <h2>VIDEOS</h2>
          <% @personal_info[:videos].each do |video|%>
            <li id="li-padding"><a href='<%=video.url%>'><%=video.title%></a></li>
          <% end %>
      </div>
    <% end %>

    <% unless @personal_info[:tracks].empty? %>
      <div class="personal-media">
          <h2>TRACKS</h2>
          <% @personal_info[:tracks].each do |track|%>
            <li id="li-padding"><a href='<%=track.track_url%>'><%=track.title%></a></li>
          <% end %>
      </div>
    <% end %>
  </div>


  <div id="footer"></div>

</body>









