<body id="profile">

  <div id="header">
  <a href="/personal"><h1>L2T</h1></a>  <!-- to railsify the link, how to include the h1 inside link_to-->
    <nav>
        <%= link_to 'SIGN OUT', '/users/sign_out', :method => :delete %>
        <input type="submit" name="profile" value="profile"/>
    </nav>
  </div>

  <div id="info">

    <div id="pic">
      <img id="profile-img" class="vertalign" src="<%=@personal_info[:image_url]%>" />
    </div>

    <div id="about">
      <div class+"vertalign" id="personal-box">
        <h3><%=@personal_info[:name]%></h3>
        <p><%=@personal_info[:blurb]%></p>
        <div class="vertalign" id="personal-button">
          <input type="submit" name="message" value="message"/>
        </div>
      </div>
    </div>

    <div id="map">
    </div>

  </div>

  <div id="profile-feed">
    <div class="profile-media">
        <h2>TWEETS</h2>
        <% @personal_info[:tweets].each do |tweet|%>
          <li><%=tweet.content%></li>
        <% end %>
    </div>
    <div class="profile-media">
        <h2>VIDEOS</h2>
        <% @personal_info[:videos].each do |video|%>
          <li><a href='<%=video.url%>'><%=video.title%></a></li>
        <% end %>
    </div>
    <div class="profile-media">
        <h2>TRACKS</h2>
        <% @personal_info[:tracks].each do |track|%>
          <li><a href='<%=track.track_url%>'><%=track.title%></a></li>
        <% end %>
    </div>
  </div>

  <div id="footer"></div>

</body>









